 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
        }

        .Post-cards {
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            align-items: center;
            background-color: #110202;
            /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); */
        }

        .card {
            width: 600px;
            height: 400px;
            background-color:transparent;
            margin: 6px;
            border-radius: 16px;
            box-shadow: 4px 4px 10px rgba(179, 66, 66, 0.5);
            color: white;
        }

        .upper-part {
            height: 20%;
            width: 100%;
            background-color: green;
            border-radius: 16px 16px 0 0;
            display: flex;
            background-color: rgba(148, 75, 75, 0.5);
        }

        .com-name {
            width: 50%;
            height: 60%;
            background-color: aqua;
            position: relative;
            top: 20px;
            left: 20px;
            border-radius: 16px;
            text-align: center;
        }

        .user-name {
            width: 30%;
            height: 60%;
            background-color: aqua;
            position: relative;
            top: 20px;
            left: 80px;
            border-radius: 16px;
        }


        .card-content {
            height: 25%;
            width: 90%;
            background-color: #fff;
            position: relative;
            top: 20px;
            border-radius: 16px;
            left: 30px;
        }

        .card-content input {
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 16px;
        }


        .lower-part {
            height: 20%;
            width: 90%;
            background-color: wheat;
            position: relative;
            top: 55px;
            left: 30px;
            /* margin-top: 4%; */
            border-radius: 16px;

        }

        .card-btns {
            display: flex;
            justify-content: center;
            height: 40%;
            width: 60%;
            /* background-color: aqua; */
            position: relative;
            top: 20px;
            left: 20px;

        }

        .lower-card-btns {
            display: flex;
            justify-content: space-between;
            margin-right: 60px;
            height: 100%;
            width: 10%;
            border: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 50%;

        }

        .lower-card-btns:active {
            background-color: yellow;
        }

        .title {
            font-size: 20px;
            font-weight: bold;
            height: 20%;
            width: 100%;
            border: 1px solid brown;
            border-radius: 16px 16px 0 0;
            position: relative;
        }

        .title h2 {
            font-size: 16px;
            position: relative;
            left: 20px;

        }